<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag "4LifeLogo.png" %>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="http://localhost:3000">Home</a></li>
        <li class="nav-link"><a href="#howitworks">How It Works</a></li>
        <li class="nav-link"><a href="#packs">Packs</a></li>
        <li class="nav-link"><a href="#winners">Winners</a></li>
        <li class="nav-link"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="home" id="home">
  <div class="leftdiamonds">
    <%= image_tag "leftdiamonds.png" %>
  </div>
  <div class="club250logo">
    <%= image_tag "club250logo.png" %>
  </div>
  <div class="rightdiamonds">
    <%= image_tag "rightdiamonds.png" %>
  </div>
</div>

<section class="howitworks" id="howitworks">
  <a class="arrow-wrap" href="#content">
    <span class="arrow"></span>
    <!--<span class="hint">scroll</span>-->
  </a>
  
  <h1>How It Works</h1>

</section>

<section class="packs" id="packs">
  <h1>Packs</h1>

</section>

<section class="winners" id="winners">
  <h1>Winners</h1>

</section>

<section class="faq" id="faq">
  <h1>Frequently Asked Questions</h1>

</section>
