<div class="table">
  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="#top" class="logo">
        <%= image_tag "4LifeLogo.png" %>
      </a>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="nav">
        <ul id="navigation-menu">
          <li class="nav-link"><a href="http://www.4life.com">4life.com</a></li>
          <li class="nav-link"><a href="#howitworks">How It Works</a></li>
          <li class="nav-link"><a href="#packs">Packs</a></li>
          <li class="nav-link"><a href="#winners">Winners</a></li>
          <li class="nav-link"><a href="#faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </header>
  <a id="#top"></a>
  <div class="home" id="home">
    <%= image_tag "topdiamonds.png", class: 'topdiamonds' %>
    <%= image_tag "club250logo.png", class: 'club250logo' %>
    <%= image_tag "bottomdiamonds.png" %>
  </div>
</div>

<section class="howitworks" id="howitworks">
  <a class="arrow-wrap" href="#howitworks">
    <span class="arrow"></span>
  </a>

  <h1>How It Works</h1>

  <div class="bullets">
    <div class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <h3>1</h3>
      </div>
      <div class="bullet-content">
        <h2>Purchase 250 LP + per month to become a Club 250 member</h2>
        <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
        </div>
    </div>  
    <div class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <h3>2</h3>
      </div>
      <div class="bullet-content">
        <h2>Qualify at the Leader, Diamond, or Presidential Diamond level</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
      </div>
    </div>
    <div class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-3">
        <h3>3</h3>
      </div>
      <div class="bullet-content">
        <h2>Check <a href="#winners">below</a> each month to see if you're a winner!</h2>
        <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
    </div> 
  </div>

  <table>
    <tr>
      <th>If you purchase:</th>
      <th>100 LP</th>
      <th>250 LP</th>
      <th>Club 250 Packs<span class="best">Best Value!</span></th>
    </tr>
    <tr>
      <td>Club 250 Member</td>
      <td>No</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Product Discount</td>
      <td>$0</td>
      <td>$0</td>
      <td>Up to $81</td>
    </tr>
    <tr>
      <td>Total Profit Potential</td>
      <td>$11</td>
      <td>$65</td>
      <td>Up to $156</td>
    </tr>
    <tr>
      <td>Next Day Rapid Rewards Payment</td>
      <td>$0</td>
      <td>$37.50</td>
      <td>$37.50</td>
    </tr>
    <tr>
      <td>Accelerated Organizational Volume</td>
      <td>8500 LP<br>3 Levels</td>
      <td>21,250 LP<br>3 Levels</td>
      <td>21,250 LP<br>3 Levels</td>
    </tr>
    <tr>
      <td>Cash Prizes</td>
      <td>$0</td>
      <td>Up to $5000</td>
      <td>Up to $5000</td>
    </tr>
    <table>
  </table>
</section>


<section class="packs" id="packs">
  <h1>Packs</h1>

</section>

<section class="winners" id="winners">
  <h1>Winners</h1>

</section>

<section class="faq" id="faq">
  <h1>Frequently Asked Questions</h1>

</section>
