<div class="table">
  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="javascript:void(0)" class="logo">
        <%= image_tag "4LifeLogo.png" %>
      </a>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="nav">
        <ul id="navigation-menu">
          <li class="nav-link"><a href="http://localhost:3000">Home</a></li>
          <li class="nav-link"><a href="#howitworks">How It Works</a></li>
          <li class="nav-link"><a href="#packs">Packs</a></li>
          <li class="nav-link"><a href="#winners">Winners</a></li>
          <li class="nav-link"><a href="#faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="home" id="home">
    <%= image_tag "leftdiamonds.png" %>
    <div class="club250logo">
      <%= image_tag "club250logo.png" %>
    </div>
    <%= image_tag "rightdiamonds.png" %>
  </div>
</div>

<section class="howitworks" id="howitworks">
  <a class="arrow-wrap" href="#howitworks">
    <span class="arrow"></span>
  </a>

  <h1>How It Works</h1>

  <div class="bullets">

    <div class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <h3>1</h3>
      </div>
      <div class="bullet-content">
        <h2>Purchase 250 LP + per month to become a Club 250 member</h2>
        <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
        </div>
    </div>  
    <div class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <h3>2</h3>
      </div>
      <div class="bullet-content">
        <h2>Qualify at the Leader, Diamond, or Presidential Diamond level</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
      </div>
    </div>
    <div class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-3">
        <h3>3</h3>
      </div>
      <div class="bullet-content">
        <h2>Check <a href="#winners">below</a> each month to see if you're a winner!</h2>
        <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
    </div> 
  </div>
</section>


<section class="packs" id="packs">
  <h1>Packs</h1>

</section>

<section class="winners" id="winners">
  <h1>Winners</h1>

</section>

<section class="faq" id="faq">
  <h1>Frequently Asked Questions</h1>

</section>

<script>// grab an element
var header = document.querySelector("header");
// construct an instance of Headroom, passing the element
var headroom  = new Headroom(header, {
  "tolerance": 5,
  "offset": 205,
  "classes": {
    "initial": "animated",
    "pinned": "swingInX",
    "unpinned": "swingOutX",
    "top": "headroom--top",
    "notTop": "headroom--not-top"
  }
});
// initialise
headroom.init(); </script>

