div.home {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;

  .club250logo {
    position: relative;
    z-index: 999;

    @include media($smallish-screen) {
      @include span-columns(8);
      @include shift(2);
    }

    @include media($large-screen) {
      margin: -15em;
      @include span-columns(6);
      @include shift(3);
    }

    @include media($extralarge-screen) {
      @include span-columns(4);
      @include shift(4);
    }

    @include hidpi(2) {
      @include media($large-screen) {
        margin: -10em;
        @include span-columns(6);
        @include shift(3);
      }
    }
  }

  .topdiamonds {
    @include media($large-screen) {
      margin-top: -5em;
    }

    @include hidpi(2) {
      @include media($large-screen) {
        margin-top: -12em;
      }
    }
  }
}

