.home {
  max-height: 5em;
  padding: 1em;

  .club250logo {
    position: relative;
    z-index: 999;

    @include media($large-screen) {
      margin: -7em;
      @include span-columns(6);
      @include shift(3);
    }
  }

  .leftdiamonds {
    background-image: url(image_path('leftdiamonds.png') no-repeat); 
  }
  .rightdiamonds {
    background-image: url(image_path('rightdiamonds.png') no-repeat);
  }
}

