section.howitworks {
  position: relative;
  margin-top: -3em;
  background-color: #F2F2F2;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 3em;

// Fancy Arrow

  .arrow-wrap {
    position:absolute;
    z-index:9999;
    left:50%;
    top: -5em;
    margin-left:-5em;
    background:$orange;
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    font-size:0.5em;
    display:block;
  }

  .arrow {
    float:left;
    position:relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #fff transparent transparent transparent;
    @include transform(rotate(360deg));
  }

  .arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: $orange transparent transparent transparent;
    @include transform(rotate(360deg));
  }

  @include keyframes(arrows) {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  // CONTENT 

  .bullets {
  $icon-bullet-size: 3.5em;
  margin-bottom: $base-line-height;

  
    .three-col-bullet {
      @include media($large-screen) {
        @include span-columns(4);
        @include omega(3n);
      }
    }

    .bullet-icon {
      float: left;
      background: $base-accent-color;
      padding: $icon-bullet-size /4;
      border-radius: 50%;
      width: $icon-bullet-size;
      height: $icon-bullet-size;
    }

    .bullet-icon-1 {
      background: $blue;
    }

    .bullet-icon-2 {
      background: darken($blue, +10);
    }

    .bullet-icon-3 {
      background: darken($blue, +20);
    }

    .bullet-content {
      margin-left: $icon-bullet-size *1.4;
      margin-bottom: 2em;
    }

    h2 {
      font-size: $icon-bullet-size /2.5;
      padding-top: $icon-bullet-size /7;
      margin-bottom: $icon-bullet-size /6;
      border-bottom: 1px solid transparentize($base-font-color, .8);
      display: inline-block;
    }
  }
}