section.howitworks {
  width: 100%;
  z-index: 99;
  margin-top: 30em;
  position: relative;
  height: 50em;
  background-color: #F2F2F2;
  border-top: 1px solid $light-gray;

  @include media($medium-screen) {
    margin-top: 40em;
  }

  @include media($large-screen) {
    margin-top: 45em;
  }
}